*.class
*.log
*.ctxt
.mtj.tmp/
*.lock
*.bin
*.probe

*.properties
!BackEnd/src/main/resources/application.properties

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
replay_pid*

backend/.gradle/
backend/build/
backend/out/
backend/bin/

frontend/node_modules/
frontend/dist/
frontend/.env

# IntelliJ IDEA 설정 파일
.idea/
*.iml
out/
gen/

# 파일 보안 설정
.env
backend/src/main/resources/application-local.properties
backend/src/main/resources/application-secret.yml
backend/src/main/resources/application-local.yml
